/* footer.css */
#footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto; /* Pushes footer to the bottom */
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: row;
}

.social-media-icons a {
  margin: 0 10px;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
}

.social-media-icons a:hover {
  color: #0073e6; /* Example hover color */
}