header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin-left: 100px;
  font-size: x-large;
}

body {
  padding-top: 5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 100px;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3f3838;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  font-weight: bold;
}

nav ul li a:hover::after {
  visibility: visible;
  width: 100%;
}

.theme-button {
  margin-right: 1rem;
  width: auto;
}

.menu-button {
  width: auto;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    opacity: 90%;
  }

  nav.open ul {
    display: flex;
  }

  nav ul li {
    margin: 1rem 0;
    text-align: justify;
  }

  header h1 {
    margin-left: 20px;
  }

  .theme-button {
    display: flex;
  }
}