header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  /* Optional: Add a background color */
  z-index: 1000;
  /* Ensure it appears above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Add a shadow for depth */
}

header h1 {
  margin-left: 100px;
  font-size: x-large;
  /* Adjust as needed */
}

/* Adjust content below the fixed header */
body {
  padding-top: 5rem;
  /* Adjust this value according to your header height */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 100px;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3f3838;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  font-weight: bold;
}

nav ul li a:hover::after {
  visibility: visible;
  width: 100%;
}